.DvXlvQ{
    width: 168.404px; 
    height: 61.9587px;
    transform: translate(1.42109e-14px, -0.620438px) rotate(0deg);
}

.T96P6A{
    object-fit: fill;
}

.WbgzZA_682gpw{
    clip-path: path(quot, M 0 0 L 234.168 0 L 234.168 15.3109 L 0 15.3109 L 0 0 quot);
    background-color: rgb(83, 241, 102); 
    touch-action: pan-x pan-y pinch-zoom;
}

.S1PPyQ{
    font-weight: 400; 
    font-style: normal;
    color: rgb(255, 244, 44); 
    text-decoration: none;
}

