.font{
    font-size: 35px;
}

/* .hola{
    color: blue;
}

.hola:hover{
    color: blueviolet;
} */

/* h3{
    padding-left: 15%;
    margin: 5%;
} */

.hols{
    margin-left: 20%;
    margin-top: 3%;
    margin-right: 20%;
}